* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
}

.nav {
  display: flex;
  width: 80vw;
  background: none;
  margin: auto;
  justify-content: space-between;
}

.nav a {
  color: #ffffff;
}

.nav a:hover {
  color: #cccccc;
}

.search-ip,
.search-ip:focus {
  background: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.card {
  max-width: 18rem;
}

.coin-card {
  background-color: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.card-body {
  color: rgb(224, 255, 252);
}

.coin-image {
  width: 50px;
  margin: auto;
  margin-top: 5px;
}

.coin-price-change {
  background: none;
  color: #ffffff;
  border-radius: 10px;
}

.price-up {
  background-color: rgb(96, 180, 22);
}

.price-down {
  background-color: rgb(193, 30, 30);
}